/**flex布局，12栅格**/
.bee-fx {
  display: flex;
  flex-wrap: wrap;
}

// direction: column
.bee-fx-c {
  display: flex;
  flex-direction: column;
}

// direction: row
.bee-fx-r {
  flex-direction: row;
}


// flex-1 ~ flex-12
@for $i from 1 through 12 {
  .bee-fx-#{$i} { flex: $i; }
}
// width-1 ~ width-12
@for $i from 1 through 12 {
  .bee-fx-w-#{$i} { width: $i*100%/12; }
}

/****flex垂直居中***/
.bee-fx-center {
  align-items: center;
  justify-content: center;
}
.bee-fx-jc-center {
  justify-content: center;
}
.bee-fx-ai-center {
  align-items: center;
}

/***一行、双行、三行，超出 hide ...**/
.bee-fx-1-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bee-fx-2-row {
  @extend .bee-fx-1-row;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  word-break: break-all;
}
.bee-fx-3-row {
  @extend .bee-fx-2-row;
  -webkit-line-clamp:3;
}


