/**flex布局，12栅格**/
.bee-fb {
  display: flex;
  flex-wrap: wrap;
}

// direction: column
.bee-fb-C {
  flex-direction: column;
}

// direction: row
.bee-fb-R {
  flex-direction: row;
}


// flex-1 ~ flex-12
@for $i from 1 through 12 {
  .bee-fx-f-#{$i} { flex: $i; }
}
// width-1 ~ width-12
@for $i from 1 through 12 {
  .bee-fx-w-#{$i} { width: $i*100%/12; }
}

/****flex垂直居中***/
//.bee-flex-

/***一行、双行、三行，超出 hide ...**/
.bee-flex-one-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bee-flex-two-row {
  @extend .bee-flex-one-row;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  word-break: break-all;
}
.bee-flex-three-row {
  @extend .bee-flex-two-row;
  -webkit-line-clamp:3;
}


