$cl-default: #314659;
$cl-primary: #1890ff;
$cl-danger: #ff7875;
$cl-success: #5cb85c;
$cl-info: #31b0d5;
$cl-warn: #f0ad4e;

$cl-bg-black-opacity: rgba(0, 0, 0, .6);
$cl-bg-toast: rgba(18, 18, 18, .7);
